.icons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.google {
  color: #dd4b39;
  padding: 10px;
}

.linkedin {
  color: #0082ca;
  padding: 10px;
}

.github {
  color: #333333;
  padding: 10px;
}
