img {
  padding: 30px;
  padding-left: 100px;
  max-width: 400px;
  max-height: 300px;
}

.amazonlogo {
  padding-left: 150px;
  align-items: center;
}

.container {
  padding: 30px;
}

.description {
  text-align: justify;
}

.navBarlight {
  background-color: #93b5c6;
}

.navBardark {
  background-color: blueviolet;
}
