* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: auto;
}
.rightContainer {
  flex: 10%;
  display: table-footer-group;
  justify-content: flex-start;
  padding-left: 8px;
  position: relative;
  text-align: right;
}

.toggle {
  width: 2rem;
  height: 2rem;
  background-color: aqua;
  position: absolute;
  top: 3 rem;
  place-items: right;
  cursor: pointer;
}

.toggle i {
  font-size: 2rem;
  color: black;
}
